html, body {
  font-family: 'Muli', sans-serif;
  margin: 10px;
}

body {
}

.header-image {
  background-image: url(/geometric_1400x425.gif);
  width: 1400px;
  height: 250px;
}

#title {
  font-size: 30px;
}

.header-links {
  border: 1px solid black;
  background: black;
  color:white;
  font-size: 18px;
}

.header-links a {
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 5em;
  padding: 20px;
}

p {
  /*margin: 20px;*/
}
