<div class="header-image"></div>

<h2 id='title'>K e n d r a . D o d d s</h2>


<div class="header-links">
{{#link-to 'index'}}
Home
{{/link-to}}



{{#link-to 'resume'}}
Resume
{{/link-to}}



{{#link-to 'projects'}}
Projects
{{/link-to}}
</div>

{{outlet}}
